
  <h2 mat-dialog-title>User Configuration</h2>
  <mat-dialog-content>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <section class="user-configuration">
          <span class="user-config-checkbox-list">
            <mat-checkbox
                          [checked]="allComplete"
                          [indeterminate]="someComplete()"
                          (change)="setAll($event.checked)"
                          [color]="columnsList[0].color"
                          >                      
              All
            </mat-checkbox>
          </span>
          <span class="user-config-checkbox-list" *ngFor="let userConfig of columnsList">        
            <mat-checkbox [(ngModel)]="userConfig.completed"
                          [color]="userConfig.color"
                          (ngModelChange)="updateAllComplete()"
                          [disabled]="userConfig.disabled"
                          >
              {{userConfig.name}}
            </mat-checkbox>          
          </span>
        </section>
      </div>
    
      <div class="col-sm-12 col-md-6">
        <div cdkDropList class="user-config-list" (cdkDropListDropped)="drop($event)">
          <div class="user-config-box" *ngFor="let column of sortedColumnToDisplay" cdkDrag>
            <div class="user-config-placeholder" *cdkDragPlaceholder></div>
            {{column}}
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [mat-dialog-close]="userConfiData" cdkFocusInitial>Ok</button>
  </mat-dialog-actions>