
  <h2 mat-dialog-title>Hi {{userConfiData.columnsToDisplay[0]}}</h2>
  <mat-dialog-content>
    <section class="user-configuration">
      <span class="user-config-list">
        <mat-checkbox
                      [checked]="allComplete"
                      [indeterminate]="someComplete()"
                      (change)="setAll($event.checked)"
                      [color]="userConfigurationList[0].color"
                      >                      
          All
        </mat-checkbox>
      </span>
      <span class="user-config-list" *ngFor="let userConfig of userConfigurationList">        
        <mat-checkbox [(ngModel)]="userConfig.completed"
                      [color]="userConfig.color"
                      (ngModelChange)="updateAllComplete()"
                      [disabled]="userConfig.disabled"
                      >
          {{userConfig.name}}
        </mat-checkbox>          
      </span>
    </section>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="userConfiData" cdkFocusInitial>Ok</button>
  </mat-dialog-actions>