<form class="example-form">
  
    <input type="text"
           placeholder="Pick one"           
           [formControl]="myControl"
           [matAutocomplete]="name">
    <mat-autocomplete #name="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>  
    <input type="text"
           placeholder="Pick one"
           [formControl]="control2"
           [matAutocomplete]="year">
    <mat-autocomplete #year="matAutocomplete">
      <mat-option *ngFor="let option23 of filteredOptions2 | async" [value]="option23">
        {{option23}}
      </mat-option>
    </mat-autocomplete>
  
</form>