<h4>mat select</h4>
<mat-form-field>
  <mat-label>Panel color</mat-label>
  <mat-select [formControl]="panelColor" panelClass="custom-select-style">
    <mat-option value="red">Red</mat-option>
    <mat-option value="green">Green</mat-option>
    <mat-option value="blue">Blue</mat-option>
  </mat-select>
</mat-form-field>



<!--

<form [formGroup]="mileageGroup">
    <div formArrayName="mileageFormArray" *ngFor="let mileage of mileageGroup.get('mileageFormArray')['controls']; let i = index;">
      <div class="row" [formGroupName]="i">
        <div class="inputContainer">
          <input type="text" formControlName="lowerBound">
          <div class="action" *ngIf="mileageFlag[i].lowerBound">
            <button mat-icon-button color="warn" (click)="updateValue(i,'lowerBound')">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="primary">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
        <div class="inputContainer">
          <input type="text" formControlName="upperBound">   
          <div class="action" *ngIf="mileageFlag[i].upperBound">
            <button mat-icon-button color="warn" (click)="updateValue(i,'upperBound')">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="primary">
              <mat-icon>clear</mat-icon>
            </button>  
          </div> 
        </div>   
      </div>
    </div>    
  </form>
  <div class="text-danger" *ngIf="errorFlag">
    {{errorMessage}}
  </div>
  -->
