<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>   
  <span>{{'angularApp' | translate }}</span>
  <span class="example-spacer"></span>
  <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
    <option *ngFor="let language of translate.getLangs()" [value]="language"
      [selected]="language === translate.currentLang">
      {{ language }}
    </option>
  </select>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  
</mat-toolbar>


<mat-sidenav-container class="example-container">
    
  <mat-sidenav class="main-side-nav" color="primary" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
        <ul>
          <li *ngFor="let item of navigation">
            <a  routerLink="{{item.path}}" routerLinkActive="active">{{item.displayName}}</a>  
          </li>
        </ul> 
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>    
</mat-sidenav-container>
  
